// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: false;

// Insert your custom variables here.

$font-family: helvetica,arial,verdana,sans-serif;
$font-size  : 12px;
$base-gradient: none;
$base-color   : #C0D4ED;
$neutral-color: #eeeeee;

$button-small-border-radius: 3px;
$button-medium-border-radius: 0px;
$button-large-border-radius: 0px;

$button-default-base-color: #eee;
$button-default-base-color-over: #ccc;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: $button-default-base-color-over;
/*
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%); //F7F7F7
*/

$button-small-border-width: 0;
$button-small-padding: 2px;
$button-small-text-padding: 4px;
$button-small-font-size: ceil($font-size * .9); //11px

$button-medium-border-width: 0;
$button-medium-padding: 2px;
$button-medium-text-padding: 4px;
$button-medium-font-size: ceil($font-size * .9); //11px

$button-large-border-width: 0;
$button-large-padding: 2px;
$button-large-text-padding: 4px;
$button-large-font-size: ceil($font-size * .9); //11px

/*$button-default-border-color: black;*/
$button-default-background-gradient: null;
$button-default-background-gradient-over: null;
$button-default-background-gradient-pressed: null;
$button-default-background-gradient-focus: null;
$button-default-background-color: $button-default-base-color;
$button-default-background-color-over: $button-default-background-color;
$button-default-background-color-pressed: $button-default-background-color;

$toolbar-background-color: white;
$toolbar-border-color: transparent;
$toolbar-spacer-width: 4px;
$toolbar-separator-color: #eee;
$toolbar-separator-highlight-color: #fff;

$button-toolbar-background-gradient-focus: none;
$button-toolbar-background-gradient-pressed: none;
$button-toolbar-background-gradient-over: none;
$button-toolbar-background-color: $button-default-base-color;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-pressed: $button-default-base-color-over;
$button-toolbar-border-color: transparent;
$button-toolbar-border-color-over: null;
$button-toolbar-border-color-pressed: null;
$button-toolbar-border-color-disabled: null;

$panel-body-border-color: #eee;

$grid-header-background-color: #3D3C3A;
$grid-header-over-background-color: #302F2D;
$grid-header-color: white;
$grid-header-background-gradient: null;
$grid-header-over-background-gradient: null;
/*$grid-header-border-color: none;
$grid-header-over-border-color: none;
$grid-header-over-background-color: none;
$grid-header-over-background-gradient: none;
$grid-header-background-color: none;
$grid-header-line-height: 15px !default;
$grid-header-padding: 3px 6px 4px !default;
$grid-header-trigger-height: 22px !default;
$grid-header-trigger-width: 14px !default;
*/
$grid-row-cell-border-width: 1px;

$grid-row-body-font: normal 15px $font-family;
$grid-row-body: 8px;

$grid-cell-inner-padding-top: 4px;
$grid-cell-inner-padding-horizontal: 8px;
$grid-cell-inner-padding-bottom: 5px;

/* colors from comp; need to be mapped */
$grid-text-color: #555;
$grid-odd-row-background-color: #F5F5F5;
$grid-even-row-background-color: #FFFFFF;


@import 'ext4/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include extjs-boundlist;
@include extjs-button;
@include extjs-btn-group;
@include extjs-datepicker;
@include extjs-colorpicker;
@include extjs-menu;
@include extjs-grid;
@include extjs-form;
    @include extjs-form-field;
    @include extjs-form-fieldset;
    @include extjs-form-file;
    @include extjs-form-checkboxfield;
    @include extjs-form-checkboxgroup;
    @include extjs-form-triggerfield;
    @include extjs-form-htmleditor;
@include extjs-panel;
@include extjs-qtip;
@include extjs-slider;
@include extjs-progress;
@include extjs-toolbar;
@include extjs-window;
@include extjs-messagebox;
@include extjs-tabbar;
@include extjs-tab;
@include extjs-tree;
@include extjs-drawcomponent;
@include extjs-viewport;

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true

h1 {
	font-size: 200%;
	font-family: ge inspira, sans-serif;
}